<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" style="background-color: saddlebrown">
  <mat-card style="background-color: sandybrown">
    <mat-card-header>
      <mat-card-title>Info regarding our Angular Project</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1 style="font-size: medium; font-weight: bold; font-style: italic; text-decoration: underline">Submitted By</h1>
      <h3>Ahmed Naveed Asif -------- FA18-BSE-006</h3>
      <h3>Ghiyas Ud Din Ahmed ------ FA18-BSE-024</h3>
      <h1 style="font-size: medium; font-weight: bold; font-style: italic; text-decoration: underline">Submitted To</h1>
      <h3>Dr. Muhammad Imran</h3>
      <p>This project offers basic CRUD operations for user management and we have changed </p>
      <p>the server APIs accordingly from previous assignment Therefore, we are </p>
      <p>resubmitting the server API assignment again, to accomodate those changes</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="box" style="background-color: sandybrown">

    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" (submit)="login()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="text" name="email" placeholder="Email" [(ngModel)]="data.email" required/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" required placeholder="Password" [(ngModel)]="data.password" required/>
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" class="btn-block" type="submit">
        Log in
      </button>
    </form>
  </mat-card>
</div>
