<mat-toolbar class="app-header" color="primary" style="background-color: sandybrown">
  <div>
    <a class="positronx" href="" target="_blank">Autonomous Deception</a>
  </div>
  <span class="nav-tool-items">
    <a
      *ngIf='current_route == "/register"'
      mat-button
      mat-raised-button
      routerLink="login"
      routerLinkActive="active"
    >Log in</a
    >
    &nbsp;<span class="nav-tool-items">
    <a
      *ngIf='current_route == "/login"'
      mat-button
      mat-raised-button
      routerLink="register"
      routerLinkActive="active"
    >Register</a
    ></span>
        <span *ngIf='current_route == "/update"'>
        <a
          mat-button
          mat-raised-button
          routerLink="profile"
        >Profile</a>
    </span>
    <span *ngIf='current_route == "/profile"'>
      <button mat-button [matMenuTriggerFor]="menu">Account</button>
      <mat-menu #menu="matMenu">
        <div>
        <a
          (click)="updateProfile()"
          *ngIf='current_route == "/profile"'
          mat-button
          routerLink="update"
        >Update Profile</a>
          </div>
        <div>
        <a
          (click)="deleteProfile()"
          *ngIf='current_route == "/profile"'
          mat-button
          routerLink=""
        >Delete Account</a>
          </div>
        <div>
        <a
          (click)="onLogout()"
          *ngIf='current_route == "/profile"'
          mat-button
          routerLink=""
        >Logout</a>
          </div>
      </mat-menu>
    </span>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
